{% extends 'layout.html' %}
{% block content %}

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">Text</a>
  <a class="item" data-tab="second">URL</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
  <form class="ui form" method="post" action="{{ url_for('main.text') }}">
    <div class="field">
      <textarea name="text"></textarea>
      <button class="ui button">TL;DR</button>
    </div>
  </form>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
  <form class="ui form" method="post" action="{{ url_for('main.url') }}">
    <div class="ui fluid action input">
      <input type="text" name="url" value="{{ url if url else '' }}"
        placeholder="http://awesome.website.com"/>
      <button class="ui button">TL;DR</button>
    </div>
  </form>
</div>

<!--
      <div class="fields">
        <div class="twelve wide field">
          <input type="text" name="url" value="{{ url if url else '' }}"
           placeholder="http://awesome.website.com" class="form-control"/>
        </div>
        <div class="four wide field">
          <button type="submit" class="ui button">Submit</button>
        </div>
      </div>
-->


<script>
$(function() {
  $('.menu .item').tab();
});
</script>

{% endblock %}
