{% extends 'layout.html' %}
{% block content %}

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">Text</a>
  <a class="item" data-tab="second">URL</a>
</div>
<div id="text-summary" class="ui bottom attached tab segment active" data-tab="first">
  <form class="ui form" method="post" action="{{ url_for('main.text') }}">
    <div class="field">
      <textarea name="text" rows="16">
        {%- if text -%}
          {{ text }}
        {%- elif sample -%}
          {{ sample }}
        {%- endif -%}
      </textarea>
    </div>
    <div class="field">
      <button class="ui right floated teal button">TL;DR</button>
    </div>
    <div class="field"></div>
  </form>

  <div id="loading" class="ui segment">
    <img class="ui wireframe image" src="/static/images/short-paragraph.png"/>
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>
  </div>
  <div id="summary" class="ui segment"></div>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
  <i class="announcement icon"></i>
  We're working on this feature. Stay tuned!
</div>

{% endblock %}
{% block javascript %}
<script>
  $(function() {
    $('.menu .item').tab();
  });
</script>
{% endblock %}
