{% extends 'layout.html' %}
{% block content %}

<!-- tabs -->
<div class="ui top attached tabular menu">
  <a class="item active" data-tab="text">Text</a>
  <a class="item" data-tab="url">URL</a>
</div>

<!-- First tab content (text summarization) -->
<div id="text-summary" class="ui bottom attached tab segment active" data-tab="text">
  <form class="ui form" method="post" action="{{ url_for('main.text') }}">
    <div class="field">
      <textarea name="text" rows="16">
        {%- if text -%}
          {{ text }}
        {%- elif sample -%}
          {{ sample }}
        {%- endif -%}
      </textarea>
    </div>
    <div class="field">
      <button id="submit-button" class="ui right floated teal button"
        data-html="Too Long; Didn't Read<br/>너무 길어서 읽지 않았다">TL;DR</button>
    </div>
    <div class="field"></div>
  </form>

  <div id="loading" class="ui segment">
    <img class="ui wireframe image" src="/static/images/short-paragraph.png"/>
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>
  </div>
  <div id="summary" class="ui segment"></div>
</div>

<!-- Second tab content (URL summarization) -->
<div id="url-summary" class="ui bottom attached tab segment" data-tab="url">
  <form class="ui form" method="post" action="{{ url_for('main.url') }}">
    <div class="field">
      <input type="text" name="url" placeholder="http://awesomewebsite.com">
    </div>
      <button id="url-submit-button" class="ui right floated teal button"
        data-html="Too Long; Didn't Read<br/>너무 길어서 읽지 않았다">TL;DR</button>
    <div class="field"></div>
  </form>

  <div id="" class="ui segment">
    <img class="ui wireframe image" src="/static/images/short-paragraph.png"/>
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>
  </div>
  <div id="summary" class="ui segment"></div>
</div>

{% endblock %}
{% block javascript %}
<script src="/static/jquery.address.js"></script>
<script>
  $(function() {
    $('.menu .item').tab({
      history: true
    });
    $('#submit-button').popup();
  });
</script>
{% endblock %}
