<!DOCTYPE html>
<html>
  <head>
    <title>Brogrammer Labs</title>

    <link rel="stylesheet" href="/static/semantic.min.css"/>
    <link rel="stylesheet" href="/static/main.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          TL;DR
        </a>
      </div>
    </div>

    <div class="content">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
